.background {
    display: inline-block;
    background-color: azure;
    color: black;
    margin: 2% 1%;
    width: 30%;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
}

span {
    color: black;
    font-weight: bold;
}

